  <!-- START FOOTER -->
  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-links">
                <a href="/media.html">Video</a>
                <a href="/contact.html">Contact</a>
                <a href="/rgpd.html">Mentions légales</a>
            </div>
        </div>
        <hr>
        <div class="social-icons">
            <a href="https://www.facebook.com/swennyetmelaniebachata" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/swenny_melanie_bachata/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <p class="credits text-white">Copyright © 2025 créer avec <span class="color-pink">❤</span> par Swenny.</p>
</div>
  <!-- END FOOTER -->
 <!-- Script Bootstrap et script.js-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
    <script src="/js/testloginscript.js"></script>
  </body>
</html>