<<<<<<< HEAD
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
}
.header-containt {
    height: 100vh;
    background-image: url(./SwennyetMelanie.png);
    background-size: cover;
    background-position: center;
}
/* CSS HEADER - NAVBAR - Boutton */
h1 {
    font-family: "Alex Brush", cursive;
    color: #ffffff !important;
    font-weight: 800;
    font-style: normal;
    font-size: 3.8em;
}
header h1 ,h3 ,h2  {
    color: white; 
}
header > h3 {
    color: #CCCCCC !important;
}
p{
    color: #CCCCCC;
}
header a {
    list-style: none !important;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li {
    list-style: none !important;
}
ul {
    margin: auto;
}
nav {
    text-decoration: none !important;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: #F243A0;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button-pink {
    background-color:#F243A0;
    color: rgb(255, 255, 255);
    border: 1px solid #F243A0;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
}
.action-button {
    background-color:#F243A0;
    color: rgb(255, 255, 255);
    border: 1px solid #F243A0;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
}
.action-button:hover{
    color: #F243A0;
    background-color: white;
    border-color: #fff;
}


.pro {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.pro:hover {
    background-color: #fff;
    color: #F243A0;
}
/* Fin CSS HEADER -NAVBAR et Boutton */
/* ---Burger Menu ---*/
.burger-menu {
    display:none;
    height: 0px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height  0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.burger-menu.open {
    height: 310px;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* Container HEAD */
.container-head {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
    height: 100vh;          /* Optionnel : ajuste la hauteur du container */ 
  }
  
  .content-head {
    padding: 20px;
  }
/* Fin Container HEAD */
/* Container Value */
.container-value-first { /* Largeur du conteneur */
    margin: auto; /* Centre le conteneur horizontalement */
    height: 45vh; /* Hauteur égale à la hauteur de la fenêtre */
    display: flex; /* Active le modèle flexbox */
    flex-direction: column; /* Aligne les enfants en colonne */
    justify-content: flex-end; /* Place le contenu en bas */
    text-align: center; /* Centre le texte horizontalement (facultatif) */
}
.container-value-second {
    margin: auto; /* Centre le conteneur horizontalement */
    height: 40vh; /* Hauteur égale à la hauteur de la fenêtre */
    display: flex; /* Active le modèle flexbox */
    flex-direction: column; /* Aligne les enfants en colonne */
    text-align: center; /* Centre le texte horizontalement (facultatif) */
}
/* Fin de Container Value */
/*----Responsive----*/

@media (max-width: 990px) {
    header {
        background: none;
    }
    .navbar .links,
    .navbar .action-button {
        display: none;
    }
    .navbar .burger-menu-button {
        display: block;
    }
    .burger-menu {
        display: block;

    }
    ul {
        margin-left: -32px;
    }
}
@media (max-width: 576px) {
    .burger-menu {
        left: 2rem;
        width: unset;
    }
}
@media (min-width:990px){
    .header-containt {
        height: 100vh;
        background-image: url(./SwennyetMelanie.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center -122px;
    }
}
=======
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #1a1a1a;
}
/*class couleur rose */
.color-pink {
  color: #f243a0;
}
.header-containt {
  height: 100vh;
  background-image: url(./SwennyetMelanie.png);
  background-size: cover;
  background-position: center;
}
/* CSS HEADER - NAVBAR - Boutton */
h1 {
  font-family: "Alex Brush", cursive;
  color: #ffffff !important;
  font-weight: 800;
  font-style: normal;
  font-size: 3.8em;
}
header h1,
h3,
h2 {
  color: white;
}
header > h3 {
  color: #cccccc !important;
}
p {
  color: #cccccc;
}
header a {
  list-style: none !important;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav,
li {
  list-style: none !important;
}
ul {
  margin: auto;
}
nav {
  text-decoration: none !important;
  color: white;
  font-size: 1rem;
}
a:hover {
  color: #f243a0;
}
.navbar {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .burger-menu-button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.button-pink {
  background-color: #f243a0;
  color: rgb(255, 255, 255);
  border: 1px solid #f243a0;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.action-button {
  background-color: #f243a0;
  color: rgb(255, 255, 255);
  border: 1px solid #f243a0;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.action-button:hover {
  color: #f243a0;
  background-color: white;
  border-color: #fff;
}
.pro {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.pro:hover {
  background-color: #fff;
  color: #f243a0;
}
.btn:hover {
  background-color: #fff;
  color: #f243a0;
}
/*END CSS HEADER -NAVBAR et Boutton */
/* ---Burger Menu ---*/
.burger-menu {
  display: none;
  height: 0px;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger-menu.open {
  height: 310px;
}
.divider {
  height: 1px;
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu .action-button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/*END Burger Menu */
/* START Container HEAD */
.container-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content-head {
  padding: 20px;
}
/*END Container HEAD */
/*START Value contain */
.value-contain {
  height: 100vh;
  background-image: url(./swennybackground.png);
  background-size: cover;
  background-position: left-center;
  transition: background-color 0.5s ease, background-position 0.5s ease;
}
.value-text {
  margin-left: 33% !important;
}
.value-contain {
  color: white;
}
.value-contain h3,
.value-contain ul,
.value-contain li,
.value-contain p {
  padding-left: 0;
  list-style: disc !important;
}
.custom-list {
  list-style: disc; /* Définit le style des puces */
  padding-left: 2rem; /* Ajoute un espace pour afficher correctement les puces */
}
.custom-list li::marker {
  color: #f243a0; /* Définit la couleur des puces */
  font-size: 1.2em; /* Ajuste éventuellement la taille des puces */
}
.value-contain {
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre verticalement les éléments */
}
.content {
  width: auto; /* Ajuste automatiquement à la taille de son contenu */
}
/*END Value contain */
/*START Container Value */
.container-value-first {
  margin: auto;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.container-value-second {
  margin: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*END de Container Value */
.fonction-content h2,
h3 {
  color: black;
}
/* Fonction content */
.fonction-content {
  background-color: 1a1a1a !important;
}
/*END Fonction content */
/*----START Content-Teacher SWENNY ET MELANIE----*/
.content-teacher {
  background-color: #00020c;
  background-image: url(swennymelanievalue.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.5s ease, background-position 0.5s ease;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
}
/*----FIN Content-Teacher SWENNY ET MELANIE----*/
/* CARD BUY */
.card {
  background-color: #1a1a1a;
  border: solid 1px;
  border-color: #ffffff2d;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(241, 157, 225, 0.5);
}
.card-title {
  color: #f243a0;
}
.btn-custom {
  background-color: #f243a0;
  border: none;
  color: #fff;
}
.btn-custom:hover {
  background-color: #fff;
  color: #f243a0;
}
/* END CARD BUY */
/* START FOOTER */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f243a0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #f243a0;
  transform: scale(1.2);
}

.credits {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #bbb;
}
/* END FOOTER */

/* START CARD BUY IMAGE */
.custom-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center 5%;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--filter-color); /* Couleur et opacité du filtre */
  clip-path: polygon(0 -60%, 60% 100%, 0 100%); /* Triangle rectangle */
  pointer-events: none;
}
/*END CARD IMAGE BUY */
/*----RESPONSIVE MEDIA QUERIES----*/
@media (max-width: 990px) {
  header {
    background: none;
  }
  .navbar .links,
  .navbar .action-button {
    display: none;
  }
  .navbar .burger-menu-button {
    display: block;
  }
  .burger-menu {
    display: block;
  }
  ul {
    margin-left: -32px;
  }
}
@media (max-width: 576px) {
  .burger-menu {
    left: 2rem;
    width: unset;
  }
}
@media (min-width: 990px) {
  .header-containt {
    height: 100vh;
    background-image: url(./SwennyetMelanie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -122px;
  }
}
/*START Responsive value-contain */
@media (max-width: 990px) {
  .value-contain {
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: left -10vh center !important;
    background-repeat: no-repeat;
  }
  .value-text {
    width: 100% !important;
    margin: auto !important;
  }
}
/*END  Responsive value-contain */
/*START SWENNY ET MELANIE CONTENT TEACHER responsive */
@media (max-width: 1250px) {
  .content-teacher {
    height: 100vh;
    background-blend-mode: darken !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    background-position: center !important;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, color 0.3s ease;
  }
}

@media (min-width: 1250px) {
  .content-teacher {
    background-position: right -40vh center !important;
    background-blend-mode: normal;
  }
  .content-teacher-text {
    max-width: 60%;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 20vh;
    text-align: center;
  }
}
/*END SWENNY ET MELANIE CONTENT TEACHER responsive */
>>>>>>> affc416 (Premier commit)
