
<%- include('partials/header')%>
<%- include('partials/containHeader')%>
<%- include('partials/login')%>
    <!-- Value Contain -->
    <div class="container container-value-first">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quos vel
        dignissimos provident dolorem consectetur voluptatem laudantium,
        officiis aliquam optio quod laboriosam iure, cum nihil magnam mollitia.
        Recusandae, deserunt vel!
      </p>
      <h2>Value Proposition</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error,
        maiores, animi iusto officiis quisquam necessitatibus cupiditate quis
        quasi eos eligendi ratione deleniti ad accusantium doloribus ducimus
        temporibus ullam dignissimos voluptates.
      </p>
    </div>
    <div class="container container-value-second">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam
        illum voluptas labore repellendus aperiam voluptatum reprehenderit
        culpa, consequatur voluptates eos sed aut? Illum ab quod ducimus magnam,
        accusamus aperiam.
      </p>
      <h3>Ready to get Started?</h3>
      <button type="button" class="button-pink d-flex m-auto btn">
        Cours d'essai gratuit
      </button>
    </div>
    <!-- END Value Contain -->
    <!-- START Avis Contain -->
    <div class="container">
      <!-- APPLE API GOOGLE POUR RECUP AVIS -->
    </div>
    <!-- END Avis Contain -->
    <!-- Mise en Valeur Contain -->
    <div
      class="container-fluid value-contain d-flex justify-content-center align-items-center"
    >
      <div class="value-text container m-auto p-5" style="width: 40%">
        <h5 class="">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam
          asperiores quibusdam fugiat porro totam mollitia fuga magni! Illum
          natus sapiente unde rerum nesciunt a ut et delectus dolorum assumenda.
          Aliquid!
        </h5>
        <ul class="custom-list ms-3">
          <li>value 1</li>
          <li>value 2</li>
          <li>value 3</li>
        </ul>
      </div>
    </div>
    <!-- END de mise en valeur -->
    <!-- START Fonctionnement Content -->
    <div class="container-fluid fonction-content">
      <div class="container text-center p-5">
        <h2 class="text-white">Comment ça marche ?</h2>
      </div>

      <!-- Section 1 -->
      <div class="container-fluid mb-4">
        <div class="row align-items-center">
          <!-- Texte -->
          <div class="col-md-6">
            <h3 class="text-white">
              1.<span class="color-pink">Inscription</span>
            </h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
              quaerat temporibus labore pariatur id mollitia eligendi vero a est
              odit, voluptatem in ratione similique alias, consequuntur eos,
              delectus necessitatibus. Labore.
            </p>
          </div>
          <!-- Image -->
          <div class="col-md-6">
            <img
              src="/images/InscriptionDark.png"
              alt="Inscription"
              class="img-fluid"
              style="max-width: 100%; height: auto"
            />
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="container-fluid mb-4">
        <div class="row align-items-center">
          <!-- Texte -->
          <div class="col-md-6 order-md-2">
            <h3 class="text-white">
              2.<span class="color-pink">Pratique</span>
            </h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
              excepturi corporis commodi inventore dolores temporibus enim ullam
              voluptate beatae dicta molestias accusantium provident itaque
              architecto ad, in possimus, laborum magni?
            </p>
          </div>
          <!-- Image -->
          <div class="col-md-6 order-md-1">
            <img
              src="/images/ApprendDark.png"
              alt="Pratique"
              class="img-fluid"
              style="max-width: 100%; height: auto"
            />
          </div>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="container-fluid mb-4">
        <div class="row align-items-center">
          <!-- Texte -->
          <div class="col-md-6">
            <h3 class="text-white">3. <span class="color-pink">Danse</span></h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Blanditiis placeat voluptate error libero est dolorem neque maxime
              delectus dolorum. Deserunt exercitationem eveniet molestias eaque,
              blanditiis adipisci. Aliquid libero optio cumque!
            </p>
          </div>
          <!-- Image -->
          <div class="col-md-6">
            <img
              src="/images/DanseDark.png"
              alt="Danse"
              class="img-fluid"
              style="max-width: 100%; height: auto"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- END Fonctionnement Content -->
    <!-- Start SWENNY ET MELANIE VALUE-->
    <div class="container-fluid content-teacher" id="teacher">
      <div class="content-teacher-text">
        <h2 class="m-auto p-4 text-teacher text-center">Swenny et Mélanie</h2>
        <h4 class="text-white p-1 text-teacher">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto a
          voluptatem voluptate nulla sit labore, exercitationem reprehenderit.
          Autem voluptatem possimus alias distinctio, nisi aliquam consequatur
          facere aliquid consectetur debitis. At!
        </h4>
        <p class="p-1 text-teacher">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ad
          repellat maiores tenetur quibusdam reprehenderit sequi, vero
          voluptatibus fugit quas adipisci quia aperiam repudiandae eligendi
          amet quos consectetur, sint dolore!
        </p>
      </div>
    </div>
    <!-- END SWENNY ET MELANIE VALUE-->
    <!-- START Buy Card -->
    <div class="container py-5 my-lg-5 card-buy">
      <div class="row g-3 g-lg-5">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card p-3 h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Intermédiaire</h5>
              <h2 class="card-text">50€</h2>
              <ul class="card-text p-2"></ul>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
            </ul>
          </div>
          <a href="#" class="btn btn-custom m-2">Ajouter au panier</a>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card p-3 h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Débutant</h5>
              <h2 class="card-text">50€</h2>
              <ul class="card-text p-2"></ul>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
              <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
            </ul>
          </div>
          <a href="#" class="btn btn-custom m-2">Ajouter au panier</a>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card p-3 h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Avancé</h5>
              <h2 class="card-text">50€</h2>
                <ul class="card-text p-2"></ul>
                  <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
                  <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
                  <li><span class="color-pink">✔</span> This is a short description for the second card.</li>
                </ul>
              </div>
              <a href="#" class="btn btn-custom m-2">Ajouter au panier</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END Buy Card -->
    <!-- START MOVIE Content -->
    <div class="container-fluid d-flex flex-column flex-lg-row p-5">
      <div class="text-content col-12 col-lg-4 d-flex flex-column justify-content-center">
          <h2>Présentation de la vidéo</h2>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est eum commodi, ducimus exercitationem labore deserunt minima, quia fugiat accusantium modi rem sit incidunt eius molestias provident iusto alias quis fuga.
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, magni laborum! Alias tempore laboriosam iusto! Eum voluptatem libero doloremque. Similique nisi enim pariatur placeat aspernatur culpa numquam mollitia! Qui, illum!
          </p>
      </div>
      <div class="col-12 m-lg-2 col-lg-8">
          <div style="padding:56.25% 0 0 0; position:relative;">
              <iframe 
                  src="https://player.vimeo.com/video/855098989?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                  frameborder="0" 
                  allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                  style="position:absolute; top:0; left:0; width:100%; height:100%;" 
                  title="Swenny et Melanie Bachata la Rochelle">
              </iframe>
          </div>
          <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
  </div>
  <!-- END MOVIE Content -->
  <%- include('partials/footer')%>

