<%- include('../partials/header')%> <%- include('../partials/login')%>
<div
  class="container d-flex flex-column align-items-center justify-content-center vh-100 text-center"
>
  <div
    class="container container-contact d-flex flex-column align-items-center justify-content-center text-center"
  >
    <h2>Contactez-nous</h2>
    <p><i class="fas fa-envelope"></i> Email : swennyetmelanie@gmail.com</p>
    <p><i class="fas fa-phone"></i> Téléphone : 06 61 57 54 79</p>
    <p>Suivez-nous sur :</p>
    <div class="d-flex gap-3">
      <a
        href="https://www.facebook.com/swennyetmelaniebachata"
        target="_blank"
        class="social-icons"
      >
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a
        href="https://www.instagram.com/swenny_melanie_bachata/"
        target="_blank"
        class="social-icons"
      >
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</div>
<%- include('../partials/footer')%>
