<%- include('../partials/header')%>
<%- include('../partials/containHeader')%>
<%- include('../partials/login')%>
            <!--START Card Movie-->
            <div class="container my-5">
              <h2 class="text-center my-4">Cours gratuit de bachata</h2>
              <p class="m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sit assumenda voluptas illum ratione, quae inventore facilis voluptate eaque totam voluptatum veritatis porro tempora ullam ea hic voluptatem iure dignissimos.</p>
              <div class="row g-4">
                <!-- Première carte -->
                <div class="col-12 col-md-4">
                  <div class="card h-100 text-white">
                    <div style="padding:56.25% 0 0 0; position:relative; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;overflow: hidden;">
                      <iframe 
                          src="https://player.vimeo.com/video/855098989?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                          frameborder="0" 
                          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                          style="position:absolute; top:0; left:0; width:100%; height:100%;" 
                          title="Swenny et Melanie Bachata la Rochelle">
                      </iframe>
                  </div>
                  <script src="https://player.vimeo.com/api/player.js"></script>
                    <div class="card-body">
                      <h5 class="card-title">Intermédiaire</h5>
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia dicta tempora asperiores reiciendis nostrum error aliquid repellat ab nihil. Magni maiores perferendis id consequuntur aliquam dolor ea iste repellat fugit?</p>
                      <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="btn btn-custom text-center">Voir plus</a>
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Deuxième carte -->
                <div class="col-12 col-md-4">
                  <div class="card h-100 text-white">
                    <div style="padding:56.25% 0 0 0; position:relative; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;overflow: hidden;">
                      <iframe 
                          src="https://player.vimeo.com/video/855098989?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                          frameborder="0" 
                          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                          style="position:absolute; top:0; left:0; width:100%; height:100%;" 
                          title="Swenny et Melanie Bachata la Rochelle">
                      </iframe>
                  </div>
                  <script src="https://player.vimeo.com/api/player.js"></script>
                    <div class="card-body">
                      <h5 class="card-title">Débutant</h5>
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia dicta tempora asperiores reiciendis nostrum error aliquid repellat ab nihil. Magni maiores perferendis id consequuntur aliquam dolor ea iste repellat fugit?</p>
                      <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="btn btn-custom text-center">Voir plus</a>
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Troisième carte -->
                <div class="col-12 col-md-4">
                  <div class="card h-100 text-white">
                    <div style="padding:56.25% 0 0 0; position:relative;border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;overflow: hidden;">
                      <iframe 
                          src="https://player.vimeo.com/video/855098989?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                          frameborder="0" 
                          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                          style="position:absolute; top:0; left:0; width:100%; height:100%;" 
                          title="Swenny et Melanie Bachata la Rochelle">
                      </iframe>
                  </div>
                  <script src="https://player.vimeo.com/api/player.js"></script>
                    <div class="card-body">
                      <h5 class="card-title">Avancé</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, asperiores amet assumenda voluptatem voluptas optio reiciendis a ex! Accusantium eius placeat pariatur magni, maiores ratione soluta id nesciunt facere illo?</p>
                      <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="btn btn-custom text-center">Voir plus</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END Card Movie-->
            <!-- START PACK BUY-->
             <!-- 1er IMAGE -->
            <div class="container mt-5">
              <div class="row align-items-center">
                <!-- Image avec filtre -->
                <div class="col-lg-6 mb-3 mb-lg-0 text-center" style="--filter-color: rgba(90, 87, 252, 0.788);">
                  <div class="image-container">
                    <img src="images/swennymelanievalue.png" alt="Image exemple" class="custom-image">
                  </div>
                </div>
                <!-- Texte -->
                <div class="col-lg-6 text-center text-lg-start">
                  <h2 class="mb-3">Pack débutant</h2>
                  <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis esse exercitationem consequatur nobis natus, fugit fuga minima maxime, alias dicta quidem accusantium, atque voluptas suscipit doloremque pariatur ab nulla inventore.
                  </p>
                </div>
              </div>
            </div>
            <!-- 2e IMAGE -->
            <div class="container mt-5">
              <div class="row align-items-center">
                <!-- Image avec filtre -->
                <div class="col-lg-6 mb-3 mb-lg-0 text-center" style="--filter-color: rgba(249, 253, 0, 0.651);">
                  <div class="image-container">
                    <img src="images/swennymelanievalue.png" alt="Image exemple" class="custom-image">
                  </div>
                </div>
                <!-- Texte -->
                <div class="col-lg-6 text-center text-lg-start">
                  <h2 class="mb-3">Pack intermédiaire</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quidem laboriosam id et dolorum placeat vel officiis nulla ducimus iure vitae voluptatibus mollitia quia praesentium, at cupiditate cum veniam alias!
                  </p>
                </div>
              </div>
            </div>
            <!-- 3e IMAGE -->
            <div class="container mt-5">
              <div class="row align-items-center">
                <!-- Image avec filtre -->
                <div class="col-lg-6 mb-3 mb-lg-0 text-center" style="--filter-color: rgba(252, 25, 25, 0.5); ">
                  <div class="image-container">
                    <img src="images/swennymelanievalue.png" alt="Image exemple" class="custom-image">
                  </div>
                </div>
                <!-- Texte -->
                <div class="col-lg-6 text-center text-lg-start">
                  <h2 class="mb-3">Pack avancé</h2>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora illum aliquid recusandae dignissimos iusto quo ipsum! Magnam optio quibusdam molestias sit sequi debitis officiis suscipit, vitae accusamus distinctio dicta sapiente?
                  </p>
                </div>
              </div>
            </div>
            <!-- 4e IMAGE -->
            <div class="container mt-5">
              <div class="row align-items-center">
                <!-- Image avec filtre -->
                <div class="col-lg-6 mb-3 mb-lg-0 text-center" style="--filter-color: rgba(252, 87, 197, 0.76);">
                  <div class="image-container">
                    <img src="images/swennymelanievalue.png" alt="Image exemple" class="custom-image">
                  </div>
                </div>
                <!-- Texte -->
                <div class="col-lg-6 text-center text-lg-start">
                  <h2 class="mb-3">Pack lady style</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil mollitia tempore nesciunt. Veniam, perspiciatis tempora? Ipsa aperiam atque, soluta iure et ad rerum magnam. Molestias laudantium sint necessitatibus eveniet iure?
                  </p>
                </div>
              </div>
            </div>
            <!-- END PACK BUY-->
            <%- include('../partials/footer')%>